<div
  nz-row nzType="flex"
  nzJustify="space-around"
  *ngFor="let week of billsDays; let i = index"

>
    <div
      *ngFor="let day of week.days"
      nz-col
      nzXs="8"
      nzSm="3"
      [className]="day.showAsDay ? 'cal-day' : 'cal-day'"
      (click)="dayClicked(day.Date)"
    >
<!--      [style.background-color]="(day.Week_Type == 'positive') ? '#c2fcd6' : (day.Week_Type == 'negative') ? '#ffd4cf' : ''"-->

      <span *ngIf="day.Month" class="month-name">{{ day.Month }} - </span><span style="font-weight: bold">{{ day.Day }}</span>
      <app-expense
        (removedItem)="didRemoveItem(i, day.Date, $event)"
        [expenses]="day.desc"
        [daysBack]="daysBack"
      ></app-expense>
      <div style="clear:both; height: 4px"></div>
    </div>
</div>
