.cal-day {
  border-radius: 7px;
  border: 1px solid #ddd;
  height: 200px;
  padding: 4px 4px;
  font-size: 12px;
}

.cal-day-item {
  padding: 0 3px;
  color: white;
  border-radius: 7px;
  margin-bottom: 4px;
  display: block;
}
